<div class="parallax">
  <div class="header"></br></br>
    <p id="pun">10 points go to</p>
    <h1 id="title">Gryff Outdoor</h1>
</div></div></br>

<div class="hiking">
  <div class="category-right">
    <h1 class="name">Hiking & Backpacking</h1>
</div></div></br>

<div class="fishing">
  <div class="category-left">
    <h1 class="name">Fishing</h1>
</div></div></br>

<div class="climbing">
  <div class="category-right">
    <h1 class="name">Climbing</h1>
</div></div></br>
