</br></br></br></br></br><div class="parallax">
  <div class="header"></br></br>
    </br></br><h1 id="title">Gryff Outdoor</h1>
  </div>
</div>
<div class="break"></br></div>

<div class="hiking">
  <div class="category-right">
    <h1 class="name"><%= link_to 'Hiking & Backpacking', '/hiking' %></h1></br>
    <h3 class="description">Here's where we describe</br>backpacks and stuff</h3>
  </div>
  <div class="left"><img src="assets/hiking_gear.jpg"></div>
</div>

<div class="fishing">
  <div class="category-left">
    <h1 class="name"><%= link_to 'Fishing', '/fishing' %></h1></br>
    <h3 class="description">Here's where we introduce the concept</br>of a fishing rod</h3>
  </div>
  <div class="right"><img src="assets/fishing_rod.jpg"></div>
</div>

<div class="climbing">
  <div class="category-right">
    <h1 class="name"><%= link_to 'Climbing', '/climbing' %></h1></br>
    <h3 class="description">Here's where we offer shoes</br>with individual nooks for each toe</h3>
  </div>
  <div class="left"><img src="assets/carribeaners.jpg"></div>
</div>
<div class="break"></br></div>
