<div class="parallax">
  <div class="header"></br></br>
    <p id="pun">10 points go to</p>
    <h1 id="title">Gryff Outdoor</h1>
  </div>
</div></br>

<div class="hiking">
  <div class="category-right">
    <h1 class="name">Hiking & Backpacking</h1></br>
    <h3 class="description">Here's where we describe</br>backpacks and stuff</h3>
  </div>
  <div class="left"><img src="assets/hiking_gear.jpg"></div>
</div>

<div class="fishing">
  <div class="category-left">
    <h1 class="name">Fishing</h1></br>
    <h3 class="description">Here's where we introduce the concept</br>of a fishing rod</h3>
  </div>
  <div class="right"><img src="assets/fishing_rod.jpg"></div>
</div>

<div class="climbing">
  <div class="category-right">
    <h1 class="name">Climbing</h1></br>
    <h3 class="description">Here's where we offer shoes</br>with individual nooks for each toe</h3>
  </div>
  <div class="left"><img src="assets/carribeaners.jpg"></div>
</div></br>
