/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Reenie+Beanie|Cabin');

.parallax {
  background-image: image-url("landing_page_banner.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: image-url("page_background.jpg");
  background-attachment: fixed;  
}

.hiking {
  background-image: image-url("hiking_div.jpg");
  height: 300px;
}

.fishing {
  background-image: image-url("fishing_div.jpg");
  height: 300px;  
}

.climbing {
  background-image: image-url("climbing_div.jpg");
  height: 300px;    
}

#title {
  font-family: "Cabin Sketch";
  font-size: 8em;
  margin-left: 30px;
  margin-top: -45px;
}

.category-right {
  float: right;
  margin-right: 20px;
  text-align: right;
}

.category-left {
  float: left;
  margin-left: 20px;
  text-align: left;
}

.header {
  margin-left: 5px;
  margin-top: -60px;
}

.page-header {
  font-family: "Cabin Sketch";
  font-size: 3em;
  font-weight: 600;
}

.name {
  font-family: "Cabin Sketch";
  font-size: 4em;
  font-weight: 600;
}

a {
  color: #3D3A31;
}

a:hover {
  color: #891516;
  text-decoration: none;
}

.description {
  font-family: "Reenie Beanie";
  font-size: 3em;
  font-weight: 600;
}

.left {
  float: left;
}

.right {
  float: right;
}

.brand {
  margin-left: -20px;
}

nav.navbar-findcond { 
  height: 30px;
}

nav.navbar-findcond {
  background: #D5DFEB; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar-findcond a {
  color: #891516;
}

nav.navbar-findcond ul.navbar-nav a {
  font-family: 'Cabin Sketch'; color: #891516; border-style: solid; border-width: 0 0 2px 0; border-color: #D5DFEB;
}

nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active {
  background: #D5DFEB;
}

nav.navbar-findcond ul.navbar-nav a:hover {
  border-color: #891516;
}

nav.navbar-findcond li.divider {
  background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
  background: #891516; border-radius: 2px;
}

nav.navbar-findcond button.navbar-toggle:hover {
  background: #999;
}

nav.navbar-findcond button.navbar-toggle > span.icon-bar {
  background: #D5DFEB;
}

nav.navbar-findcond span.badge {
  background: #891516; font-weight: normal; font-size: 11px;
}

nav.navbar-findcond span.badge.new {
  background: rgba(255, 0, 0, 0.8); color: #D5DFEB;
}

.break {
  background-color: #D5DFEB;
}

#item-name {
  font-family: "Cabin Sketch";
  font-size: 1.5em;
}

#item-description {
  font-family: "Reenie Beanie";
  font-size: 1.5em;
}

.cart-button {
  float: right;
}

.buttons {
  font-family: "Cabin Sketch";
  float: right
}

.control-label {
  color: #401B0F;
  font-family: "Cabin Sketch";
}

.form-control {
  font-family: "Reenie Beanie";
  font-size: 1.5em;
}

.jumbotron {
  background: rgba(213, 223, 235, 0.30);
  border-color: #431A0F;
  box-shadow: 0 0 2px 0 #ccc;
}