@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Reenie+Beanie');

.parallax {
    /* The image used */
    background-image: url("landing_page_banner.jpg");

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hiking {
  background-image: url("hiking_div.jpg");
  height: 300px;
}

.fishing {
  background-image: url("fishing_div.jpg");
  height: 300px;  
}

.climbing {
  background-image: url("climbing_div.jpg");
  height: 300px;    
}

#pun {
  font-family: "Reenie Beanie";
  font-size: 3em;
  margin-left: 20px;
}

#title {
  font-family: "Cabin Sketch";
  font-size: 8em;
  margin-top: -30px;
  margin-left: 30px;
}

.header {
  margin-left: 5px;
}