.cart-title{
  text-align: center;
}
.cart-item{
  margin-left:15 px;
  position:relative;
  left: 20px;
  padding: 15px
}

.item-list{
  width: 75%;
}
.attribute-name{
}

.label-left{
  position: relative;

}
.cart-attribute{
  width: 200%;
  padding-right:22%;
}

.cart-info{
  float: right;
  position:relative;
  top:-171px;
  left: -80px;
  padding: 10px;

}